:root {
  --red: #f34a4a; 
  --dark: #262F34; 
  --light: #fff; 
  --chocolate: #615049;
  --padding-s: 8px;
  --padding-m: 16px;
}

/**/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  background: var(--light);
  color: var(--dark);
}

#topbar {
  padding: var(--padding-m);
  background: var(--dark);
  color: var(--light);
}

#topbar h1 {
  margin: 0;
  padding: 0;
}

#content-container {
  padding: var(--padding-m);
  max-width: 1024px;
  margin: auto 0;

}

