:root {
  --red: #f34a4a; 
  --dark: #262F34; 
  --light: #fff; 
  --chocolate: #615049;
  --space-s: 8px;
  --space-m: 16px;
}

/**/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  background: var(--light);
  color: var(--dark);
}

#content-container {
  max-width: 1024px;
  margin: auto 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

aside {
  color: var(--light, black);
  background-color: var(--dark, black);
  height: 100%;
  width: 200px;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  padding: var(--space-m);
}