
:root {
  --red: #f34a4a; 
  --dark: #262F34; 
  --light: #fff; 
  --chocolate: #615049;
  --light-gray: #f7f7f7;
  --space-s: 8px;
  --space-m: 16px;
}

/**/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: var(--light);
  color: var(--dark);
}

#content-container {
  margin: auto 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

aside {
  color: var(--light, black);
  background-color: var(--dark, black);
  box-sizing: border-box;
  height: 100%;
  min-width: 150px;
  max-width: 200px;
  position: relative;
}

.container {
  box-sizing: border-box;
  padding: var(--space-m);
  position: relative;
}

tq-login {
  position: absolute;
  bottom: var(--space-m);
  display: block; 
  text-align: center;
  left:0;
  right:0
}

tq-send {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
}