
:root {
  --red: #f34a4a; 
  --dark: #262F34; 
  --light: #fff; 
  --chocolate: #615049;
  --light-gray: #f7f7f7;
  --space-s: 8px;
  --space-m: 16px;
}

/**/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: var(--light);
  color: var(--dark);
}

#content-container {
  margin: auto 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
  padding: var(--space-s);
  text-decoration: underline;
}

aside {
  color: var(--light, black);
  background-color: var(--dark, black);
  box-sizing: border-box;
  height: 100%;
  position: relative;
}
.menu-toggle {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: var(--space-s);
  left: var(--space-s);
  padding: var(--space-s);
  border-radius: 50%;
  background: var(--dark);
  opacity: .75;
  z-index: 99;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
.menu-toggle div {
  height: 2px;
  width: 20px;
  background: #fff;
  margin: 2px;
}

.container {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}

tq-login {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 16px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

tq-send {
  position: absolute;
  bottom: 16px;
  left: 0px;
  right: 20px;
}

tq-message-list {
  overflow: auto;
  height: calc(100vh - 80px);
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  aside {
    width: 0;
    text-align: center;
    transition: .3s width cubic-bezier(0.27,0.2,0.05,1.0);
  }
  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  aside.show {
    width: 100px;
  }
  #content-container {
    grid-gap: 0;
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  tq-message-list {
    margin-top: 0;
    margin-bottom: 0;
  }
  tq-send {
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 21px;
  }
}